.similar-homes-carousel {
    display: flex;
}

.similar-homes-slides-container {
    display: flex;
    color: #fff;
    font-family: "Open Sans",Gotham,gotham,Tahoma,Geneva,sans-serif;
    text-shadow: 0 0 3px rgba(0,0,0,.5);
}

.similar-homes-header {
    margin-left: 15px;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 600;
    font-family: "Open Sans",Gotham,gotham,Tahoma,Geneva,sans-serif;
}

.sim-homes-slide-arrow {
    font-size: 40px;
    color: #ccc;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
}

.sim-homes-arrow-image {
    width: 30px;
    height: 30px;
}

.sim-homes-arrow-on {
    opacity: 1;
}

.sim-homes-arrow-off {
    opacity: 0.3;
}

.sim-homes-heart {
    display: flex;
    margin-left: 165px;
    width: 35px;
    height: 30px;
}

.similar-home-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 2px;
    margin-right: 2px;
}

.sim-homes-days {
    display: flex;
    margin: 10px 5px 60px 10px;
    font-size: 14px;
}

.sim-homes-line2 {
    display: flex;
}

.sim-homes-dot {
    border: 2px solid white;
    height: 9px;
    width: 9px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
}

.sim-homes-listing-type {
    display: flex;
    margin-left: 5px;
    font-size: 14px;
}

.sim-homes-line3 {
    display: flex;
}

.sim-homes-price {
    display: flex;
    margin-left: 10px;
    font-size: 28px;
}

.sim-homes-details {
    display: flex;
    margin-left: 10px;
    margin-top: 12px;
    font-size: 16px;
}

.sim-homes-address {
    display: flex;
    margin-left: 10px;
    font-size: 14px;
    margin-bottom: 5px;
    color: #ccc;
}

.similar-homes-see-all {
    margin: 10px;
    border: 1px solid transparent;
    /* font-family: "Open Sans", Gotham, gotham, Tahoma, Geneva, sans-serif; */
    border-color: #006AFF;
    color: #006aFF;
    border-radius: 5px;
    text-align: center;
    width: auto;
    background-color: #fff;
    padding: 0.4em 0.67em;
    line-height: 1.5;
    font-size: 15px;
    margin-left: 285px;
}

.similar-homes-see-all:hover {
    color: #fff;
    background-color: #006aFF;
}