.similarHomesSlidesContainer {
  display: flex;
  color: #fff;
  font-family: "Open Sans", Gotham, gotham, Tahoma, Geneva, sans-serif;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.simHomesHeartSpan {
  margin-left: auto;
  margin-right: 5px;
  margin-top: -20px;
  justify-self: flex-start;
}

.simHomesHeart {
  display: flex;
  width: 35px;
  height: 30px;
}

.similarHomeSlide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2px;
  margin-right: 2px;
}

.similarHomeSlide:hover {
  cursor: pointer;
}

.simHomesDays {
  display: flex;
  padding: 5px 10px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.6);
  width: fit-content;
  color: white;
}

.simHomesLine2 {
  display: flex;
}

.simHomesDot {
  border: 2px solid white;
  height: 9px;
  width: 9px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px
}

.simHomesListingType {
  display: flex;
  margin-left: 5px;
  font-size: 14px;
}

.simHomesLine3 {
  display: flex;
}

.simHomesPrice {
  display: flex;
  margin-left: 10px;
  margin-top: -10px;
  font-size: 24px;
}

.simHomesDetails {
  display: flex;
  margin-left: 10px;
  margin-top: 3px;
  font-size: 16px;
}

.simHomesAddress {
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 5px;
}

.simHomesTextArea {
  background-color: white;
  border-left: 1px solid rgba(240, 240, 240);
  border-right: 1px solid rgba(240, 240, 240);
  border-bottom: 4px solid #006AFF;
  margin-left: 2px;
  margin-right: 2px;
}

.simHomesContainer {
  height: 280px;

}